# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Flutter / Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.pub-cache/
mobile/.pub/
mobile/*.iml

# IDE
.idea/
.vscode/

# OS
.DS_Store
